{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Consultar clientes
{% endblock titulo%}

{% block titulo_contenido%}
Clientes
{% endblock titulo_contenido%}

{% block barra %}
{% for categoria in categorias %}
<li class="treeview">
    <a href="#">
        <i class="fa fa-bookmark"></i> <span>{{ categoria.nombre }}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'productos:consultarPorCategoria' categoria.id %}"><i
                    class="fa fa-angle-double-right"></i>Ver todos</a></li>
        {% for subcategoria in categoria.subcategorias.all %}
        <li><a href="{% url 'productos:consultarPorSubcategoria' subcategoria.id %}"><i
                    class="fa fa-angle-double-right"></i>{{ subcategoria.nombre }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock barra %}

{% block contenido %}
<!--filas donde se contendran 3 widgets-->
<div class="box box-danger" style="padding: 10px">
    {% for cliente in clientes %}
    {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-md-4">
            {% if cliente.is_active %}
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <h3 class="box-title">{{cliente.first_name}} {{cliente.last_name}}</h3>
                    <div class="box-tools pull-right">
                        <a data-toggle="modal" data-target="#compose-modal_{{cliente.numero_documento}}">
                            <button class="btn btn-danger btn-sm">
                                <i class="fa fa-times"></i></i>
                            </button>
                        </a>
                    </div>
                    <div class="modal fade" id="compose-modal_{{cliente.numero_documento}}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">¿Esta seguro que desea desactivar la cuenta de este cliente?
                                    </h4>
                                </div>

                                <div class="modal-footer clearfix">

                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                            class="fa fa-times"></i>Cancelar</button>
                                    <a href="{% url 'clientes:eliminar-cuenta' cliente.numero_documento %}">
                                        <button type="submit" class="btn btn-primary pull-left"> Si, estoy
                                            seguro</button>
                                    </a>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
                <div class="box-body">
                    <div class="contenido">
                        <h3 class="box-title">Información cliente</h3>

                        <div id="profile" class="tab-pane">
                            <div class="panel-body bio-graph-info">
                                <div class="row">
                                    <div class="bio-row">
                                        <h4>E-mail : {{cliente.username}}</h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>Fecha de nacimiento : {{cliente.fecha_nacimiento}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>Tipo de documento : {{cliente.tipo_documento}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>N° documento : {{cliente.numero_documento}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>N° Telefonico : {{cliente.telefono}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>Direccion : {{cliente.direccion}} </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{cliente.first_name}} {{cliente.last_name}}</h3>
                    <div class="box-tools pull-right">
                        <a href="{% url 'clientes:activar-cuenta' cliente.numero_documento %}">
                            <button class="btn  btn-sm">
                                Reactivar

                            </button>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="contenido">
                        <h3 class="box-title">Información cliente</h3>

                        <div id="profile" class="tab-pane">
                            <div class="panel-body bio-graph-info">
                                <div class="row">
                                    <div class="bio-row">
                                        <h4>E-mail : {{cliente.username}}</h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>Fecha de nacimiento : {{cliente.fecha_nacimiento}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>Tipo de documento : {{cliente.tipo_documento}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>N° documento : {{cliente.numero_documento}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>N° Telefonico : {{cliente.telefono}} </h4>
                                    </div>
                                    <div class="bio-row">
                                        <h4>Direccion : {{cliente.direccion}} </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:3 %}</div>
    <div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
</div>
{% endblock contenido%}