{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Mi perfil
{% endblock titulo%}

{% block titulo_contenido%}
<h2 class="box-title">Mi perfil</h2>
{% endblock titulo_contenido%}

{% block contenido %}
<h2 class="box-title">Información de cuenta</h2>

<div id="profile" class="tab-pane">
  <div class="panel-body bio-graph-info">
    <div class="row">
      <div class="bio-row">
        <h4>Nombre : {{user.first_name}} {{user.last_name}}</h4>
      </div>
      <div class="bio-row">
        <h4>E-mail : {{user.email}}</h4>
      </div>
    </div>
  </div>
</div>

<h2 class="box-title">Información personal</h2>

<div id="profile" class="tab-pane">
    <div class="panel-body bio-graph-info">
      <div class="row">
        <div class="bio-row">
          <h4>Fecha de nacimiento : {{user.fecha_nacimiento}} </h4>
        </div>
        <div class="bio-row">
          <h4>Tipo de documento : {{user.tipo_documento}} </h4>
        </div>
        <div class="bio-row">
          <h4>N° documento : {{user.numero_documento}} </h4>
        </div>
    </div>
  </div>
</div>
{% if not user.is_staff %}
<h2 class="box-title">Información cliente</h2>

<div id="profile" class="tab-pane">
    <div class="panel-body bio-graph-info">
      <div class="row">
        <div class="bio-row">
          <h4>N° telefonico : {{cliente.telefono}} </h4>
        </div>
        <div class="bio-row">
          <h4>Direccion : {{cliente.direccion}} </h4>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock contenido%}