{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Consultar descuentos
{% endblock titulo%}

{% block titulo_contenido%}
Descuentos
{% endblock titulo_contenido%}

{% block barra %}
{% for categoria in categorias %}
<li class="treeview">
    <a href="#">
        <i class="fa fa-bookmark"></i> <span>{{ categoria.nombre }}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'productos:consultarPorCategoria' categoria.id %}"><i
                    class="fa fa-angle-double-right"></i>Ver todos</a></li>
        {% for subcategoria in categoria.subcategorias.all %}
        <li><a href="{% url 'productos:consultarPorSubcategoria' subcategoria.id %}"><i
                    class="fa fa-angle-double-right"></i>{{ subcategoria.nombre }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock barra %}

{% block contenido %}
<div class="box box-danger" style="padding:10px">
    {% for descuento in descuentos %}
    {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-md-4">
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <h3 class="box-title">Descuento: {{descuento.porcentaje}}%</h3>
                    <div class="box-tools pull-right">
                        <a href="{% url 'descuentos:modificar' descuento.id %}">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i></button>
                        </a>
                        <a data-toggle="modal" data-target="#compose-modal_{{descuento.id}}">
                            <button class="btn btn-danger btn-sm">
                                <i class="fa fa-times"></i></i>
                            </button>
                        </a>
                    </div>
                    <div class="modal fade" id="compose-modal_{{descuento.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">¿Esta seguro que desea eliminar esta categoria?</h4>
                                </div>

                                <div class="modal-footer clearfix">

                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                            class="fa fa-times"></i>Cancelar</button>
                                    <a href="{% url 'descuentos:eliminar' descuento.id %}">
                                        <button type="submit" class="btn btn-primary pull-left"> Si, estoy
                                            seguro</button>
                                    </a>
                                </div>

                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
                <div class="box-body">
                    <div class="contenido">
                        <div><b>Fecha inicio:</b> {{descuento.fecha_inicio}} </div>
                        <div><b>Fecha fin:</b> {{descuento.fecha_fin}}</div>
                        <div><b>Codigo del producto:</b> {{descuento.producto_id}}</div>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <!--widgets-->
        {% if forloop.counter|divisibleby:3 %}</div>
    <div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}

    {% endfor %}
    <!--filas-->

</div>

{% endblock contenido%}