{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Consultar categorias
{% endblock titulo%}

{% block titulo_contenido%}
Categorias
{% endblock titulo_contenido%}

{% block contenido %}
<!--filas donde se contendran 3 widgets-->
<div class="row">
    {% for categoria in categorias %}
    <div class="col-md-4">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">{{categoria.nombre}}</h3>
                <div class="box-tools pull-right">
                    <a href="{% url 'categorias:modificar_categoria' categoria.id %}">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i></button>
                    </a>
                    <a href="{% url 'categorias:eliminar_categoria' categoria.id %}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Subcategorias</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tr>
                                <th style="width: 10px">id</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                            {% for subcategoria in categoria.subcategorias.all %}
                            <tr>
                                <td>{{ subcategoria.id }}</td>
                                <td>{{ subcategoria.nombre }}</td>

                                <td>
                                    <!--Boton subcategoria-->
                                    <a href="{% url 'subcategorias:modificar_subcategoria' subcategoria.id %}">
                                        <button class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i></button>
                                    </a>
                                    <!--Boton eliminar-->
                                    <a href="{% url 'subcategorias:eliminar_subcategoria' subcategoria.id %}">
                                        <button class="btn btn-danger btn-sm">
                                            <i class="fa fa-times"></i></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <!--widgets-->
    </div>
    {% endfor %}

</div>
<!--filas-->

<!--widget-->
{% endblock contenido%}