{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Total de ventas de un producto en los ultimos 6 meses
{% endblock titulo %}

{% block titulo_contenido %}
Reportes
{% endblock titulo_contenido %}

{% block barra %}
{% for categoria in categorias %}
<li class="treeview">
    <a href="#">
        <i class="fa fa-bookmark"></i> <span>{{ categoria.nombre }}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'productos:consultarPorCategoria' categoria.id %}"><i
                    class="fa fa-angle-double-right"></i>Ver todos</a></li>
        {% for subcategoria in categoria.subcategorias.all %}
        <li><a href="{% url 'productos:consultarPorSubcategoria' subcategoria.id %}"><i
                    class="fa fa-angle-double-right"></i>{{ subcategoria.nombre }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock barra %}

{% block contenido %}

<!-- BAR CHART -->
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title">{{ previous_date }} - {{actual_date}}</h3>
    </div>
    <div class="box-body chart-responsive">
        <div class="chart" id="bar-chart" style="height: 500px;"></div>
    </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
    $(function () {
        "use strict";
        let ventas = {{ ventas_ultimos_meses | safe}}
        //BAR CHART
        var bar = new Morris.Bar({
        element: 'bar-chart',
        resize: true,
        data: ventas,
        barColors: ['#E6433B'],
        xkey: 'nombre',
        ykeys: ['cantidad'],
        labels: ['Cantidad vendida'],
        hideHover: 'auto'
    });

    })

</script>

{% endblock contenido %}