{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Consultar Subcategorias
{% endblock titulo%}

{% block titulo_contenido%}
Subcategorias
{% endblock titulo_contenido%}

{% block barra %}
{% for categoria in categorias %}
<li class="treeview">
        <a href="#">
                <i class="fa fa-bookmark"></i> <span>{{ categoria.nombre }}</span>
                <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
                {% for subcategoria in categoria.subcategorias.all %}
                <li><a href="#"><i class="fa fa-angle-double-right"></i>{{ subcategoria.nombre }}</a></li>
                {% endfor %}
        </ul>
</li>
{% endfor %}
{% endblock barra %}

{% block contenido %}
<!--filas donde se contendran 3 widgets-->
<div class="row">
    {% for subcategoria in subcategorias %}
    <div class="col-md-4">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">{{subcategoria.nombre}}</h3>
                <div class="box-tools pull-right">
                    <a href="{% url 'subcategorias:modificar_subcategoria' subcategoria.id %}">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-pencil"></i></button>
                    </a>
                    <a href="{% url 'subcategorias:eliminar_subcategoria' subcategoria.id %}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-times"></i></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <p>
                    codigo: {{subcategoria.id}}
                </p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
        <!--widgets-->
    </div>
    {% endfor %}

</div>
<!--filas-->

<!--widget-->
{% endblock contenido%}